/.idea/
/out/
/HomeWorks.iml/
/src/hw7/hw7q1/school/.idea/
/src/hw7/hw7q1/school/target/
/src/hw7/hw7q2/hw7q2.iml
/src/hw7/hw7q2/.idea/
/src/hw7/hw7q2/out/production/hw7q2/hw7/hw7q2/
/src/hw7/hw7q3/.idea/
/src/hw7/hw7q3/untitled104.iml
/src/hw7/hw7q3/out/production/untitled104/
/src/hw8/hw8q1/.idea/
/src/hw8/hw8q1/out/production/hw8q1/
/src/hw8/hw8q1/hw8q1.iml/
/src/hw8/hw8q2/hw8q2.iml/
/src/hw8/hw8q2/.idea/
/src/hw8/hw8q2/out/production/hw8q2/
/src/hw9/hw9q1/.idea/
/src/hw9/hw9q1/out/
/src/hw9/hw9q1/hw9q1.iml/
/src/hw9/hw9q2/hw9q2.iml/
/src/hw9/hw9q3/hw9q3.iml/
/src/hw9/hw9q2/.idea/
/src/hw9/hw9q2/out/
/src/hw9/hw9q4/hw9q4.iml/
/src/hw9/hw9q3/.idea/
/src/hw9/hw9q3/out/
/src/hw9/hw9q4/.idea/
/src/hw9/hw9q4/out/
