/.idea/
/out/
/HomeWorks.iml/
/src/hw7/hw7q1/school/.idea/
/src/hw7/hw7q1/school/target/
/src/hw7/hw7q2/hw7q2.iml
/src/hw7/hw7q2/.idea/
/src/hw7/hw7q2/out/production/hw7q2/hw7/hw7q2/
/src/hw7/hw7q3/.idea/
/src/hw7/hw7q3/untitled104.iml
/src/hw7/hw7q3/out/production/untitled104/
